chat-bot.json
{
  "name": "chat bot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [0, 1728],
      "id": "549575e4-4e4b-4e56-910a-12c373ae8fcc",
      "name": "When chat message received",
      "webhookId": "4fdd86da-615e-4a5a-8995-3d0d30cff86e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Call the knowledge tool to retrieve knowledge around users query and then answer\n\nUsers query: {{ $('Webhook').item.json.body.chatInput || $json.data }}",
        "options": {
          "systemMessage": "You are a website support agent for a Chosen Care Group.\n\nYour role is to assist users by providing accurate, helpful answers about the Care Group’s website, its services, contact options, and online resources.\n\nInstructions:\n\n- Use the knowledge provided by the tool to answer user questions.\n\n- Stay focused on topics related to the Care Group’s website or services (e.g., care programs, appointments, contact forms, careers, etc.).\n\n- If a user asks a question outside this scope (for example, about unrelated medical advice, other companies, or general topics), respond politely that you don’t know the answer.\n\n- Maintain a warm, compassionate, and professional tone at all times."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2368, 816],
      "id": "bfc4f0f7-3281-41de-a938-f77bb2c3f3d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [0, 2800],
      "id": "f2f36324-607b-4155-b117-a4777346d59e",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "sendTo": "sujitdhaugoda.dev@gmail.com",
        "subject": "New support ticket",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [0, 1952],
      "id": "e9426c82-9e60-48f2-87a4-d4220d95262d",
      "name": "Send Email",
      "webhookId": "66f07455-2fdc-421a-a924-d90837579270",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [0, 2592],
      "id": "51297559-c4b3-4af1-9ad6-1c21727fcfd1",
      "name": "Embeddings OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1760, 752],
      "id": "0916a8b0-b7ea-49d9-b0a5-6369d4b214d2",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [0, 3008],
      "id": "6123571f-dc8f-4063-abc5-f517c559eb8a",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75f9795e-cacd-4107-8a2b-104e69ea91c5",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "audio/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1984, 896],
      "id": "10903145-e1f6-43f9-8d12-e8c4803d387a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all().at(0)?.binary\nconst isfilesSent = typeof files === 'object' && Object.keys(files)?.length\n\nif(isfilesSent){\n  return { files }\n}\n\nreturn $input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [288, 896],
      "id": "2380cab1-ee86-4913-af2a-28234d1e266d",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=files",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1392, 1088],
      "id": "e496f273-6138-400d-99ee-76e17f4e0b2c",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "files.upload.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1040, 752],
      "id": "f2347802-bb51-466a-a1e4-d89ec7914ec0",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [0, 2368],
      "id": "d33689b8-8d42-46a1-b2c8-6e28d6f4ee2f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2208, 1040],
      "id": "6ef80ae0-af1d-42b0-a614-5bfe70951a72",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "38bPabljni4IDzWT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [0, 1520],
      "id": "b5fd8cac-413e-4cf3-a153-b9b3849de16c",
      "name": "Embeddings Cohere"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [592, 816],
      "id": "000f9d68-e659-4fbe-8f0b-ccf94f9a8bea",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [816, 816],
      "id": "9fe80b69-a9f6-47af-9176-25b7f5c46351",
      "name": "Merge1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a41cc445-c7f8-420b-83c3-3965b7348cf5",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 896],
      "id": "f3f9825d-9060-40c3-a25d-814fe8a58eec",
      "name": "Webhook",
      "webhookId": "a41cc445-c7f8-420b-83c3-3965b7348cf5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($('AI Agent').item.json.output) }},\n  \"attachments\": [{ \"type\": \"data_url\", \"data\": \"data:{{ $json.files.data.mimeType }};base64,{{ $json.files.data.data }}\", \"mimeType\": \"{{ $json.files.data.mimeType }}\", \"autoPlayAudio\": true}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [3568, 816],
      "id": "b3e3c763-d940-47a2-ba70-baac693bc1f2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst files = $input.all().at(0)?.binary\nreturn {files};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3344, 816],
      "id": "7e932a6c-a384-48bb-9e01-a62624dcaa21",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.4:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.output) }},\n  \"voice\": \"af_heart\",\n  \"response_format\": \"mp3\",\n  \"speed\": 1\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 816],
      "id": "893858d4-82ce-479d-9a03-7d5e623c00e1",
      "name": "Generate TTS",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "193a1e8e-a56a-4dd4-bd98-ea53ce9e62fb",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [816, 96],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "izvcmYad994qf2W6",
          "name": "google oauth"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iG8AHtg6gUt1WLOB1Fos5JUwY3OQI3us",
          "mode": "list",
          "cachedResultName": "Policy Document",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iG8AHtg6gUt1WLOB1Fos5JUwY3OQI3us"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "0df82a61-a84a-406b-b1a2-8cb78a733fb8",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 192],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "izvcmYad994qf2W6",
          "name": "google oauth"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iG8AHtg6gUt1WLOB1Fos5JUwY3OQI3us",
          "mode": "list",
          "cachedResultName": "Policy Document",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iG8AHtg6gUt1WLOB1Fos5JUwY3OQI3us"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "02164590-59c5-4c43-b244-4cbcdaf2fc68",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "izvcmYad994qf2W6",
          "name": "google oauth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ae6b43b6-408d-4763-9a32-7743300286cf",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [288, 96]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "8fb58348-c428-49c0-8fd1-edb7118631e9",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1040, 96]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "cb272927-b5a6-449e-82fd-b50aa271b034",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [1392, 320]
    },
    {
      "parameters": {},
      "id": "ed6c3e20-4347-455c-b71c-e0bbadac08ef",
      "name": "Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1472, 528]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [0, 1312],
      "id": "0236967f-2eed-4c25-b03c-0d30dbb61c26",
      "name": "Embeddings Cohere1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "databaseName": "chatbot"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [2336, 1040],
      "id": "3902b6d6-e1cc-4d33-8647-df706b6f3522",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "1DzdcMimtMgXf0df",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "documents",
        "query": "{\n  \"metadata.file_id\": {\n    \"$regex\": \"{{$json.file_id}}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [592, 96],
      "id": "b67aa78e-2392-4eb7-af57-4abac01d23e4",
      "name": "Delete documents",
      "credentials": {
        "mongoDb": {
          "id": "1DzdcMimtMgXf0df",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This node retrieves information from the Care Group’s official Business Continuity Plan document, stored in a vector database.\n\nIt provides context and guidance related to operational continuity, emergency response procedures, data protection, and recovery strategies.\n\nUse Case:\n\n- To answer internal or authorized questions about the Care Group’s continuity planning, policies, or emergency response measures.\n\n- The support agent will use this node’s results only when the query clearly relates to the Business Continuity Plan.\n\nIf the question is unrelated or outside the scope of the BCP, the agent should respond that it does not have information on that topic.",
        "mongoCollection": {
          "__rl": true,
          "value": "documents_knowledge_base",
          "mode": "list",
          "cachedResultName": "documents_knowledge_base"
        },
        "vectorIndexName": "document_data_index",
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [2464, 1040],
      "id": "fe0563e1-57e3-4fd9-b0ec-3b9d1241600a",
      "name": "Alcazar Court  Business Continuity Plan (BCP)",
      "credentials": {
        "mongoDb": {
          "id": "1DzdcMimtMgXf0df",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "documents_knowledge_base",
          "mode": "list",
          "cachedResultName": "documents_knowledge_base"
        },
        "vectorIndexName": "document_data_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [1296, 96],
      "id": "13d1210d-55f4-41d2-a391-3873b969eb34",
      "name": "Policy Document vector store",
      "credentials": {
        "mongoDb": {
          "id": "1DzdcMimtMgXf0df",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "productDocs",
        "toolDescription": "retreive documentation",
        "mongoCollection": {
          "__rl": true,
          "mode": "list",
          "value": "n8n-template",
          "cachedResultName": "n8n-template"
        },
        "vectorIndexName": "data_index",
        "options": {}
      },
      "id": "8ca81cc3-b5d5-49be-88db-19524f63ff4c",
      "name": "MongoDB Vector Search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "position": [0, 2160],
      "typeVersion": 1.1,
      "credentials": {
        "mongoDb": {
          "id": "1DzdcMimtMgXf0df",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.2:9000/asr",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "encode",
              "value": "true"
            },
            {
              "name": "task",
              "value": "transcribe"
            },
            {
              "name": "output",
              "value": "text"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1392, 752],
      "id": "d3fb170d-b320-4c63-a189-1c8a2cc9ace1",
      "name": "Transcribe input audio",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.3:11235/crawl",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n   \"urls\":[\n      \"https://chosencaregroup.com\"\n   ],\n   \"crawler_config\":{\n      \"type\":\"CrawlerRunConfig\",\n      \"params\":{\n         \"deep_crawl_strategy\":{\n            \"type\":\"BFSDeepCrawlStrategy\",\n            \"params\":{\n               \"max_depth\":2,\n               \"max_pages\":25\n            },\n            \"scraping_strategy\":{\n               \"type\":\"LXMLWebScrapingStrategy\",\n               \"params\":{\n                  \n               }\n            }\n         }\n      }\n   }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 496],
      "id": "57921138-9e41-438f-8692-ea66dff018d0",
      "name": "crawl chosen care"
    },
    {
      "parameters": {
        "modelName": "=models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [560, 464],
      "id": "57e06a0f-4b0f-4d12-9fc1-1a7e8df0745f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "38bPabljni4IDzWT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This node retrieves and provides relevant information from the Care Group company’s website knowledge base.\n\nThe knowledge base content has been created by scraping official website pages and storing them in a vector database for semantic search.\n\nWhen a user asks a question, this node:\n\n- Searches the vector database for the most relevant website content.\n- Returns the matched knowledge snippets to the support agent.\n- Enables the agent (ChatGPT) to respond accurately and contextually based on official information.\n\nIf no relevant information is found, the agent will respond politely that it does not know the answer and can only assist with Care Group–related website queries.\n\nPurpose:\n\n- To ensure all user responses are grounded in verified Care Group website content while maintaining accuracy, empathy, and professionalism.",
        "mongoCollection": {
          "__rl": true,
          "value": "website_knowledge_base",
          "mode": "list",
          "cachedResultName": "website_knowledge_base"
        },
        "vectorIndexName": "web_data_index",
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [2752, 1040],
      "id": "8af11df8-edad-4c96-be54-4cc3d5dce268",
      "name": "Website data retrieval",
      "credentials": {
        "mongoDb": {
          "id": "1DzdcMimtMgXf0df",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "website_knowledge_base",
          "mode": "list",
          "cachedResultName": "website_knowledge_base"
        },
        "vectorIndexName": "web_data_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [224, 288],
      "id": "1de24d46-9282-4e9e-bacf-efc8fda77b17",
      "name": "Website Data Vector store",
      "credentials": {
        "mongoDb": {
          "id": "1DzdcMimtMgXf0df",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 300
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [304, 720],
      "id": "956a3029-6080-428e-ad17-6e2b241b87f4",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.results[0].markdown.raw_markdown }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "url",
                "value": "={{ $json.results[0].url }}"
              },
              {
                "name": "links",
                "value": "={{ $json.results[0].links.toJsonString() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [224, 512],
      "id": "401f3708-0419-4d9a-9d20-014d17059cc3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f134966b-e962-4276-997b-a92b972c0531",
      "typeVersion": 1.1,
      "name": "Create Knowledge Base from website",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [-192, 496]
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Transcribe input audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Policy Document vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Policy Document vector store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete documents": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alcazar Court  Business Continuity Plan (BCP)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe input audio": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Policy Document vector store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Alcazar Court  Business Continuity Plan (BCP)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Website data retrieval",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Website Data Vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Website data retrieval": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crawl chosen care": {
      "main": [
        [
          {
            "node": "Website Data Vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Website Data Vector store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Create Knowledge Base from website": {
      "main": [
        [
          {
            "node": "crawl chosen care",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cbda5d5-c7b2-485e-a137-e6b375665128",
  "meta": {
    "instanceId": "5b9ac76fbfb92e86bb2058a384d3b8cb96bb3540442a0714c1cc3f3660a0fe09"
  },
  "id": "Ne9Ou0bMSOuxWt3q",
  "tags": []
}
